	<div id="clear_footer">&nbsp;</div>
</div>
	<div id="footer">
	  <meta property="og:url"           content=location.href />
	  <meta property="og:type"          content="website" />
	  <meta property="og:title"         content="Artgroove.com" />
	  <meta property="og:description"   content="Artgroove.com: The art of Carolyn Ellingson" />
	  <meta property="og:image"         content="" />

		<div id="copyright">
			<p>&quot;<span class="bold">artgroove.com</span>&quot; copyright &#169; artgroove.com 1997-<?php print(date("Y")); ?>, All Rights Reserved. 
			</p>
		</div>
		<div id="fb_container">
			<div class="fb-like" data-href="http://www.artgroove.com" data-width="150" data-show-faces="false" data-send="false">
			</div>
			<br />
			<div class="fb-share-button" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u="+encodeURIComponent(location.href) class="fb-xfbml-parse-ignore">Share</a>
		</div>
	</div>

