html, body {
  font-family:corbel, "times new roman";
/*  background-image:url('/image/cebackground.gif');*/
/*	background-color:#eee;*/
  background-color:#eee;
	color:#000;
/*  min-width:960px;*/
  margin:0;
  padding:0;
	height:100%;
}
img {
	border:none;
	margin:.2em;
}
a {  
	border:none;
	text-decoration:none;
	font-weight:700;
	font-size:100%; 
}
a:active, a:visited, a:focus {outline: none;}
h1 {
  font-family: corbel, "sans serif";
	font-size: 3em;
}
h2 {
	font-size:2.5em;
}
h1, h2 {
	text-shadow: .1em .1em .1em #888;
}
.block { display:block; }
.inline { display:inline; }
.clear {
  clear:both;
  height:0;
  visibility:hidden;
}
.black {
	background-color:#111;
	color:#eee;
}
.bold { font-weight:700; }
.italic { font-style:italic; }
.italic_title {
  font-style:italic;
  font-size:20px;
}
.bold_italic {
  font-weight:700;
  font-style:italic;
}
.bold_red { font-weight:700; color:#f00; }
.yellow {color:#ee0;}
.underline { text-decoration:underline; }
.corbel { font-family:corbel, sans-serif; }
.times {font-family:"times new roman",serif;}
.news_item {
	-moz-border-radius:.5em;  /* Firefox 3.6 and earlier */
	border-radius:.5em;
	width:90%;
	margin: 1em auto;
	padding:.5em;
}
.blue_bg {background-color:#7af;}
.gray_bg {background-color:#ddd;}

.main_content_narrow, .newsletter_content{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:600px;
  overflow:auto;
}
.newsletter_content {margin-top:10px; padding:0 20px; background-color:#f8f8dd; border: 3px solid #111;overflow:none;}
.center, .center_align, .center_align_float, .center_align_narrow, .wtc_dark {
  text-align:center;
}
.center_align { 
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:800px;
}
.float_left { float:left; }
.float_right { float:right; }
.float_left_bordered {
  float:left;
  border:1px solid #444;
  margin:20px;
}  
.float_right_bordered {
  float:right;
  border:1px solid #444;
  margin:20px;
} 
.image_and_caption_float_left, .image_and_caption_float_right {
	padding: .5em;
	background-color:#eee;
	border: 1px solid #444;
	margin:.75em;
	text-align:center;
}
.image_and_caption_float_left {float:left;}
.image_and_caption_float_right{float:right;}
.smaller {font-size:75%;}
.small_font {font-size:.5em;}
.small_times {
  font-size:.5em;
  font-family:"times new roman", serif;
}
.bigger {font-size:120%;}
.big {font-size:1.5em;}
.news_list { line-height:25px; }
.newsletter_head { 
	background-color: #4cc;
	text-align:center;
	font-size: 3em;
	border:1px solid #222;
	-moz-border-radius:.1em;  /* Firefox 3.6 and earlier */
	border-radius:.1em;
	text-shadow:.1em .1em .1em #888;
}
#wrapper {
	margin: 0 auto;
	min-width:67em;
	min-height:100%;
	height:auto;
	position:relative;
	margin-bottom:-112px;
}
#main_content {
/*	margin-left:7.5em; */
  text-align:center;
  float:right;
  width:85%;
  min-width:30em;
}
#content {
	width:100%;
	min-width:65em;
	/*float:left;*/
/*	height:auto;*/
}
#entry {
	width:100%;
	min-width:65em;
	float:left;
}
#header, #header a {
	color:#eee;
	text-align: center;
	height:131px;
/*	background-color:#ea0202;*/
	background-image: url('/images/banner_800px.png');
/* 	background-color:#ff4b4b; */
	-webkit-box-shadow: 10px 10px 5px #888888; /* Safari */
	box-shadow: 10px 10px 5px #888888;
/*	-moz-border-radius:.5em;  /* Firefox 3.6 and earlier */
/*	border-radius:.5em;*/
	min-width:40em;
	width:100%;
}
#header a:hover {
  color:#fe4;
}
#banner_titles {
	margin:0 3em 0 4em;
}
#banner_titles h1, #banner_titles h2 {
	margin: 0;
	padding:0;
	font-family:'ligurino condensed','sans serif';
	text-shadow: .1em .1em .1em #444;
}
#banner_titles h1 {
	font-family:tandelle,'sans-serif';
	font-size:4.5em;
}
