	<div id="clear_footer">&nbsp;</div>
</div>
	<div id="footer">
		<div id="copyright">
			<p>
			<?php 
			print "&quot;<span class=\"bold\">artgroove.com</span>&quot; copyright &#169; artgroove.com 1997-" . date("Y") . ", All Rights Reserved."
			?>
			</p>
		</div>
		<div id="credit_fb_div">
			<div id="fb_container">
				<div class="fb-like" data-href="http://www.artgroove.com" data-width="250" data-show-faces="false" data-send="false"></div>
				<a href="#" onclick="window.open(
					'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
					'facebook-share-dialog', 
					'width=626,height=436'); 
					return false;"><img src="<?php echo $ROOT; ?>/images/icons/facebook_share.png" alt="Share on Facebook" />
				</a>
		</div>
	</div>
